*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

.header {
    background-color: #131313;
}

.header .header-wrapper {
    display: flex;
    min-height: 83px;
}

.header .font {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.db {
    display: block;
}

.header .mt {
    margin-top: 38px;
}

.header .logo-text {
    width: 180px;
}

.header .nav {
    margin-left: 95px;
}

.header .ref-list {
    width: 572px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.header .ref-text {
    color: #FFFFFF;
    text-decoration: none;
}

.header .cl {
    color: #E3B873;
}

.header .uc {
    text-transform: uppercase;
}

.header .phone-number {
    width: 135px;
    margin-left: 67px;
    text-align: right;
    text-decoration-line: underline;
}

.header .call-button {
    margin: 24px 0 0 45px;
    height: 37px;
    width: 161px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 1px solid #E3B873;
    border-radius: 2px;
}

.header .call-button-text {
    font-style: italic;
    text-align: center;
    margin-top: 4px;
    margin-left: 3px;
}

.main .section1 {
    background-image: url('../images/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 707px;
}

 .main .section1::before {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .7);
}

.main .section1-content-container {
    position: relative;
    width: 514px;
    top: 192px;
    left: 42px
}

.main .section1-header-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main .section1-header-text-span {
    color: #E3B873;
}

.main .section1-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 17px;
}

.main .section1-button-font {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.main .section1-calculate-button {
    height: 51px;
    width: 207px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 1px solid #E3B873;
    border-radius: 2px;
    line-height: 54px;
}

.main .section1-submit-button {
    height: 51px;
    width: 207px;
    background-color:rgba(255, 255, 255, 0);
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin-left: 20px;
    line-height: 54px;
}

.main .section1-buttons-wrapper {
    display: flex;
    margin-top: 25px;
}

.main .section2 {
    background-color: #131313;
    min-height: 1074px;
    padding-top: 107px;
}

.main .section2-nav1 {
    margin-left: 535px;
}

.main .section2-links-list {
    width: 622px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.main .section2-links-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.main .text-selected {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 9px;
}

.main .section2-header-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.main .section2-description-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 24px;
}

.main .section2-info-item-header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.main .section2-info-item-desc {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    display: block;
    margin-top: 8px;
}

.main .section2-info {
    display: flex;
    margin-top: 49px;
    flex-wrap: wrap;
}

.main .section2-info-item {
    width: 191px;
}

.main .section2-info-item-mt {
    margin-top: 32px;
}

.main .section2-nav2-left-arrow {
    background-image: url('../icons/leftarrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 42px;
    height: 14px;
}

.main .section2-nav2-right-arrow {
    background-image: url('../icons/rightarrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 42px;
    height: 14px;
}

.main .section2-nav2-middle-part {
    display: flex;
    justify-content: space-between;
    width: 64px;
    margin-top: 2px;
    margin-left: 2px;
}

.main .section2-nav2-circle {
    background: rgba(255, 255, 255, 0.3);
    width: 9px;
    height: 9px;
    border-radius: 30px;
}

.main .section2-nav2-circle-selected {
    background: #FFFFFF;
}

.main .section2-nav2 {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin-top: 83px;
}

.main .section2-img {
    background-image: url('../images/section2image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 679px;
    height: 482px;
    margin-top: 2px;
    margin-left: 50px;
}

.main .section2-content-container {
    display: flex;
    margin-top: 48px;
    margin-left: 42px;
}

.main .section2-text-container {
    width: 442px;
}

.main .section3-align-center {
    display: block;
    margin: 0 auto;
}

.main .section3 {
    margin-top: -326px;
}

.main .section3-header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 2px;
}

.main .section3-logo {
    background-image: url('../icons/section3log.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 42px;
    height: 37px;
    margin-top: 12px;
    position: relative;
    transform: translateX(2px);
}

.main .section3-logo::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 1px;
    background: #E3B873;
    position: absolute;
    top: 14px;
    left: -37px;
}

.main .section3-logo::after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 1px;
    background: #E3B873;
    position: absolute;
    top: 14px;
    left: 45px;
}

.main .section3-img {
    margin-top: 23px;
    background-image: url('../images/section3image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 817px;
    height: 434px;
}

.main .section3-img::before {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.8);
}

.main .section3-img::after {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #E3B873;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    margin-top: 174px;
    border-radius: 43px;
    transform: translateX(-1px);
    background-image: url('../icons/triangle.svg');
    background-size: 21px 26px;
    background-repeat: no-repeat;
    background-position: 35px center;
}

.main .section3-divider {
    margin-top: 62px;
    background: #E3B873;
    width: 55px;
    height: 1.54px;
}

.main .section3-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-top: 28px;
}

.main .section3-form {
    margin-top: 82px;
}

.main .section3-input-container {
    display: flex;
    width: 769px;
    justify-content:space-between;
    margin: 0 auto;
}

.main .section3-agree-checkbox-container {
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .section3-label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.main .section3-submit-input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: 1px solid #E3B873;
    width: 200px;
    height: 51px;
    margin-top: -1px;
    line-height: 59px;
}

.main .section3-input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border: 1px solid rgba(54, 54, 54, 0.3);
    border-width: 0 0 1px 0;
    width: 231px;
    height: 32px;
    margin-top: -7px;
}

.main .section3-input-phone-container {
    margin-left: 9px;
}

.main .section3-custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main .section3-custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.main .section3-custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #E3B873;
    border-radius: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-left: -5px;
    margin-top: -4px;
}

.main .section3-custom-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("../icons/checkbox-checked-icon.svg");
}

.main .section3-checkbox-label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.main .section4 {
    background-image: url('../images/section4bg.jpg');
    background-size: 703px 645px;
    background-repeat: no-repeat;
    background-position: 231px 834px;
    position: relative;
}

.main .section4-header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-top: 141px;
    margin-left: -4px;
}

.main .section4-logo {
    margin: 0 auto;
    background-image: url('../icons/section4logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    margin-top: 13px;
    position: relative;
    transform: translateX(-3px);
}

.main .section4-logo::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 1px;
    background: #E3B873;
    position: absolute;
    top: 13px;
    left: -41px;
}

.main .section4-logo::after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 1px;
    background: #E3B873;
    position: absolute;
    top: 13px;
    left: 41px;
}

.main .section4-cards-container {
    display: flex;
    justify-content: space-between;
    width: 1236px;
    height: 625px;
    margin: 0 auto;
    margin-top: 31px;
}

.main .section4-card-img1 {
    background-image: url('../images/section4card1image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 392px;
    height: 421px;
}

.main .section4-card-img2 {
    background-image: url('../images/section4card2image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 392px;
    height: 421px;
}

.main .section4-card-img3 {
    background-image: url('../images/section4card3image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 392px;
    height: 421px;
}

.main .section4-card-desc-container {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: 0 auto;
    margin-top: 294px;
    width: 330px;
    padding: 23px 0 43px 34px;
}

.main .section4-card-header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.main .section4-card-list {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin: 6px 0 0 14px;
}

.main .section4-card-list-item {
    text-indent: -7px;
}

.main .section4-card-price {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 14px;
    margin-top: -26px;
    margin-left: 31px;
}

.main .section4-measurement-item-logo {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    width: 58px;
    height: 58px;
    padding-top: 10px;
}

.main .section4-measurement-item {
    display: flex;
    align-items:center;
}

.main .section4-measurement-item:nth-child(n+2) {
    margin-top: 87px;    
}

.main .section4-measurement {
    display: flex;
    margin-top: 213px;
}

.main .section4-measurement-form {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.main .section4-measurement-services {
    margin-left: 149px;
    margin-top: 1px;
}

.main .section4-measurement-item-text {
    margin-left: 8px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.main .section4-measurement-form {
    margin-left: 207px;
    width: 506px;
    height: 509px;
}

.main .section4-form-header {
    margin-top: 27px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.main .section4-label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.main .section4-input-container {
    margin-top: 34px;
    margin-left: 49px;
}

.main .section4-input-phone-container {
    margin-top: 47px;
}

.main .section4-input-email-container {
    margin-top: 46px;
}

.main .section4-agree-checkbox-container {
    margin-top: 15px;
    margin-left: 54px;
}

.main .section4-input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: #131313;
    border: none;
    margin-top: 1px;
}

.main .section4-input-container-divider {
    width: 408px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 5px;
}

.main .section4-checkbox-label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.main .section4-custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main .section4-custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.main .section4-custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #E3B873;
    border-radius: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-left: -5px;
    margin-top: -4px;
}

.main .section4-custom-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("../icons/checkbox-checked-icon.svg");
}

.main .section4-checkbox-label-text {
    margin-top: 1px;
    margin-left: 2px;
}

.main .section4-submit-input {
    display: block;
    margin-top: 32px;
    margin-left: 188px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    width: 217px;
    height: 55px;
    line-height: 56px;
}

.main .section4-end-logo {
    width: 72px;
    height: 72px;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 36px;
    background-image: url('../icons/section4endlogo.svg');
    background-size: 40px 33px;
    background-repeat: no-repeat;
    background-position: 17px center;
}

.main .section4-end-text {
    margin-top: 2px;
    margin-left: 26px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.main .section4-end {
    margin-top: 39px;
    margin-left: 773px;
    display: flex;
    align-items: center;
}

.main .section5 {
    background-image: url('../images/section5bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 864px;
    margin-top: 242px;
}

.main .section5::before {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.main .section5-content-container {
    display: flex;
    position: relative;
}

.main .section5-navigation-header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 135px;
}

.main .section5-navigation {
    margin-left: 7px;
}

.main .section5-navigation-link {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 49px;
    color: #FFFFFF;
    text-decoration: none;
    text-underline-offset: 6px;
}

.main .section5-navigation-select {
    color:#E3B873;
    text-decoration: underline;
}

.main .section5-navigation-links {
    margin-top: 32px;
}

.main .section5-images-column1 {
    margin-left: 211px;
    margin-top: -40px;
}

.main .section5-images-column2 {
    margin-left: 43px;
    margin-top: -112px;
}

.main .section5-images-column1-img1 {
    background-image: url('../images/section5_col1_img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 354px;
    height: 557px;
}

.main .section5-images-column1-img2 {
    background-image: url('../images/section5_col1_img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 354px;
    height: 350px;
    margin-top: 39px;
}

.main .section5-images-column2-img1 {
    background-image: url('../images/section5_col2_img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 354px;
    height: 275px;
}

.main .section5-images-column2-img2 {
    background-image: url('../images/section5_col2_img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 354px;
    height: 625px;
    margin-top: 37px;
}

.main .section6 {
    background-image: url('../images/section6bg.jpg');
    background-size: 100vw 777px;
    background-repeat: no-repeat;
    background-position: 0px 239px;
    position: relative;
    height: 1107px;
}

.main .section6-header {
    margin-top: 109px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.main .section6-logo {
    margin: 0 auto;
    background-image: url('../icons/section6logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 34px;
    height: 28px;
    margin-top: 12px;
    position: relative;
    transform: translateX(1px);
}

.main .section6-logo::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 1px;
    background: #E3B873;
    position: absolute;
    top: 14px;
    left: -40px;
}

.main .section6-logo::after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 1px;
    background: #E3B873;
    position: absolute;
    top: 14px;
    left: 42px;
}

.main .section6-subheader {
    margin-top: 22px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #363636;
}

.main .section6-cards-container {
    display: flex;
    margin: 0 auto;
    margin-top: 62px;
    width: 1236px;
    justify-content: space-between;
}

.main .section6-card-header {
    display: flex;
    align-items: center;
}

.main .section6-ender {
    display: flex;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    width: 294px;
    height: 54px;
    margin-top: -27px;
    align-items: center;
}

.main .section6-card-header-logo1 {
    background-image: url('../icons/section6-card1-header-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 76px;
    height: 76px;
}

.main .section6-card-header-logo2 {
    background-image: url('../icons/section6-card2-header-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 76px;
    height: 76px;
}

.main .section6-card-header-logo3 {
    background-image: url('../icons/section6-card3-header-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 76px;
    height: 76px;
}

.main .section6-card-header-text {
    margin-top: 3px;
    margin-left: 23px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.main .section6-card-header-logo {
    margin-left: 20px;
}

.main .section6-card-desc-container {
    width: 376px;
    padding-bottom: 93px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.main .section6-card-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    padding: 21px 30px 0 20px;
}

.main .section6-card-text-mt {
    margin-top: -13px;
}

.main .section6-ender-logo1 {
    background-image: url('../icons/section6-card-ender-icon1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 33px;
    height: 32px;
    margin-left: 17px;
}

.main .section6-ender-logo2 {
    background-image: url('../icons/section6-card-ender-icon2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 33px;
    height: 32px;
    margin-left: 16px;
}

.main .section6-ender-text1 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 16px;
}

.main .section6-ender-text2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 15px;
}

.main .section6-ender-divider {
    border: 0.75px solid #FFFFFF;
    width: 0px;
    height: 54px;
    margin-left: 15px;
}

.main .section7 {
    background-image: url('../images/section7bg.jpg');
    background-size: 100vw 954px;
    background-repeat: no-repeat;
    position: relative;
    height: 954px;
    margin-top: -109px;
}

 .main .section7::before {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.main .section7-form {
    background: #181818;
    margin: 0 auto;
    transform: translate(10px, -222px);
    width: 883px;
    height: 446px;
    padding-top: 32px;
}

.main .section7-form-header{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main .section7-label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.main .section7-input-container {
    display: flex;
    width: 520px;
    margin: 0 auto;
    justify-content:space-between;
    margin-top: 46px;
}

.main .section7-input-question-container {
    width: 520px;
    margin: 0 auto;
    margin-top: 49px;
}

.main .section7-input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: #181818;
    border: none;
}

.main .section7-input-name-container {
    width: 231px;
}

.main .section7-input-phone-container {
    width: 231px;
}

.main .section7-input {
    margin-top: -4px;
}

.main .section7-input-container-divider1 {
    width: 231px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 4px;
}

.main .section7-input-container-divider2 {
    width: 517px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 4px;
}

.main .section7-agree-checkbox-container {
    display: flex;
    width: 286px;
    margin: 0 auto;
    align-items: center;
    margin-top: 46px;
    transform: translateX(5px);
}

.main .section7-submit-input {
    display: block;
    margin: 0 auto;
}

.main .section7-checkbox-label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.main .section7-custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main .section7-custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.main .section7-custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #E3B873;
    border-radius: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-left: -5px;
    margin-top: -4px;
}

.main .section7-custom-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("../icons/checkbox-checked-icon.svg");
}

.main .section7-submit-input {
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    width: 203px;
    height: 55px;
}

.main .section7-contacts-header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: -172px;
    margin-left: -2px;
    position: relative;
}

.main .section7-contacts-icons-container {
    display: flex;
    margin: 0 auto;
    width: 71px;
    justify-content:space-between;
    margin-top: 22px;
    transform: translateX(-3px);
}

.main .section7-contacts-icon1 {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: #E3B873;
    position: relative;
    background-image: url('../icons/section7-email-icon.svg');
    background-size: 16px 14px;
    background-position: center;
    background-repeat: no-repeat;
}

.main .section7-contacts-icon2 {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: #E3B873;
    position: relative;
    background-image: url('../icons/section7-insta-icon.svg');
    background-size: 16px 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.main .section7-img {
    margin: 0 auto;
    margin-top: 43px;
    transform: translateX(-3px);
    width: 925px;
    height: 466px;
    background-image: url('../images/section7img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}