* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

.header {
    background-color: #131313;
}

.header .header-wrapper {
    display: flex;
    min-height: 83px;
}

.header .font {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.db {
    display: block;
}

.header .mt {
    margin-top: 38px;
}

.header .logo-text {
    width: 180px;
}

.header .nav {
    margin-left: 95px;
}

.header .ref-list {
    width: 572px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.header .ref-text {
    color: #FFFFFF;
    text-decoration: none;
}

.header .cl {
    color: #E3B873;
}

.header .uc {
    text-transform: uppercase;
}

.header .phone-number {
    width: 135px;
    margin-left: 67px;
    text-align: right;
    text-decoration-line: underline;
}

.header .call-button {
    margin: 24px 0 0 45px;
    height: 37px;
    width: 161px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 1px solid #E3B873;
    border-radius: 2px;
}

.header .call-button-text {
    font-style: italic;
    text-align: center;
    margin-top: 4px;
    margin-left: 3px;
}

.main .section1 {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 707px;
}

 .main .section1::before {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .7);
}

.main .section1-content-container {
    position: relative;
    width: 514px;
    top: 192px;
    left: 42px
}

.main .section1-header-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main .section1-header-text-span {
    color: #E3B873;
}

.main .section1-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 17px;
}

.main .section1-button-font {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.main .section1-calculate-button {
    height: 51px;
    width: 207px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 1px solid #E3B873;
    border-radius: 2px;
    line-height: 54px;
}

.main .section1-submit-button {
    height: 51px;
    width: 207px;
    background-color:rgba(255, 255, 255, 0);
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin-left: 20px;
    line-height: 54px;
}

.main .section1-buttons-wrapper {
    display: flex;
    margin-top: 25px;
}